---
layout: default
home: true
---

<!-- <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}
 -->

 <h3 class="news" aria-label="Recent Posts">Recent News</h3>
<article class="post-item">
  <span class="post-item-date">Sep 2021</span>
  <h4 class="post-item-title">
    <a>Min-hwan has been selected as a Creative-Pioneering Researcher at SNU</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">May 2021</span>
  <h4 class="post-item-title">
    <a>Our paper on high-dimensional contextual bandits accepted at ICML 2021</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jan 2021</span>
  <h4 class="post-item-title">
    <a>Our paper on MNL bandits accepted at AAAI 2021</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Nov 2020</span>
  <h4 class="post-item-title">
    <a>Min-hwan's Ph.D. thesis received a finalist recognition for George B. Dantzig Dissertation Award</a>
  </h4>
</article>
